#title {
    background-color: #3876BF;
    z-index: 1;
    position: relative;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}
h2 {
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5;
    font-weight: bold;
}
h3 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: bolder;
}

p {
    color: grey;
}
/* navigation bar*/
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding:0 60px;
}

.nav-link {
    font-weight: 'Playfair Display', sans-serif;
    font-size: 1.2rem;
}
/* download buttons*/

.download-button {
    margin: 5% 3% 5% 0;
}
/* title image z-index: -1;
    position: absolute;*/ 
.title-image {
    width: 60%;
    transform: rotate(20deg);
    z-index: 2;
    position: absolute;
}

/* features*/

#features {
    padding: 7% 15%;
    background-color: #fff;
    z-index: 3;
    position: relative;
}
.feature-box {
    text-align: center;
    padding: 5%;
}
.icon {
    color: lightsalmon;
    margin: 1rem;
}
.icon:hover {
    color: #8fdbf2;
}

/* testimonials */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #3876BF;
    font-family: 'Playfair Display', sans-serif;
}
.carousel-item {
    height: 300px;
    padding: 7% 15%
}
.testimonial-images {
    width: 20%;
    border-radius: 50%;
    margin: 10px;
}
#press {
    background-color: #3876BF;
    text-align: center;
}
.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}
/*pricing*/
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-header {
    color: black;
}
.pricing-column {
    padding: 3% 2%;
}
.card-header {
    background-color: pink;
}
.card-btn {
    color: palevioletred;
    background-color: lightyellow;
}
/* call to action*/

#cta {
    background-color: #3876BF ;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}
.cta-heading {
    font-weight: bold;
    font-family: 'Playfair Display', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
/*footer section*/
#footer {
    padding: 7% 15%;
    text-align: center;
}
.social-icon {
    margin: 20px 10px;
}
/*media queries*/
@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
/* COGS3 studyBuddy specific styles go here. */